<!-- <iframe id="iframe1"  src="http://218.240.38.110:8888/kft-activiti-demo/user/logon?username=admin&password=000000&name=11&key=11&description=1" width="100%" height="900px"></iframe> -->
<nz-breadcrumb class='breadcrumbstyle'>
  <nz-breadcrumb-item>
    <span>当前位置：</span>
    <a (click)="gorouter('home/processManagement')">业务流程管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>流程模板编辑</nz-breadcrumb-item>
</nz-breadcrumb>
<iframe id="iframe1" [src]='iframe' width="100%" height="900px"></iframe>
