.home-wrap {
    // display: flex;
    .container-box {
    //   margin-right: 10px;
    //   background-color: #061011;
    //   position: relative;
    //   .diqiu-div {width:350px; height:350px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%)}
    //   .diqiu-img {width:350px; height:350px; border-radius:100px; animation:myfirst 15s linear infinite; -webkit-animation:myfirst 15s linear infinite; animation-play-state:running; -webkit-animation-play-state:running;}
    //   .diqiu-img:hover {animation-play-state:paused; -webkit-animation-play-state:paused;}
    //   @keyframes myfirst {0% {transform:rotate(0deg);} 100% {transform:rotate(360deg);}}
    //   @-webkit-keyframes myfirst {0% {transform:rotate(0deg);} 100% {transform:rotate(360deg);}}
        .box1{
            background-color: #17a2b8;
            border-radius: 3px;
            a{
                color: #fff;
            }
        }
        .box2{
            background-color: #28a745;
            border-radius: 3px;
             a{
                color: #fff;
            }
        }
        .box3{
            background-color: #ffc107;
            border-radius: 3px;
             a{
                color: #fff;
            }
        }
        .box4{
            background-color: #dc3545;
            border-radius: 3px;
             a{
                color: #fff;
            }
        }
        .moreContainer{
            text-align: center;
            padding: 4px;
            background: rgba(0,0,0,.1);
        }
        p{
            padding: 15px 0;
            margin: 0;
        }
        .box-detail{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
            &>div{
                flex: 1;
            }
            img{
                width: 70px;
                height: 70px;
            }
        }
    }
    .content-container{
        .dataView ,.dataNotView{
            display: none;
        }
        &>div{
            margin: 10px 0;
            &>div{
                height: 360px;
                border: 1px solid rgb(217, 217, 217);
                border-radius: 4px;
            }
        }
        .title{
            margin: 10px 0;
            padding: 0 30px;
            display: flex;
            justify-content: space-between;
            a{
                color: #6c757d;
                border-radius: 4px;
                padding: 5px;
            }
            .buttonActived{
                background-color: #007bff;
                color: #fff;
            }
        }
        #c1{
            padding-top: 10px;
        }
    }
}