<div class="home-wrap">
  <div class="content-left">
    <p style="margin-top:100px"></p>
    <div class="diqiu-div">
      <img class="diqiu-img" src="../../../assets/img/diqiu.png" />
    </div>
  </div>
  <div class="content-right">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
        <p>
          <a>{{panel.data1}}</a>
        </p>
        <p>
          <a>{{panel.data2}}</a>
        </p>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
