<div class="home-wrap">
  <div class="container-box">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="6">
        <!-- <nz-card [nzActions]="[actionEllipsis]">
          <p>
            <a>任务一</a>
          </p>
          <p>
            <a>任务二</a>
          </p>
        </nz-card> -->
        <div class='box1'>
          <div class='box-detail'>
            <div>
              <p>
                <a>任务一</a>
              </p>
              <p>
                <a>任务二</a>
              </p>
            </div>
            <img src="assets/img/box1.png" alt="">
          </div>
          <div class='moreContainer'>
            <a (click)='showModalMiddle()'>更多</a>
          </div>
        </div>
        <!-- <ng-template #actionEllipsis>
           <i class="anticon anticon-ellipsis"></i>
          <a (click)='showModalMiddle()'>更多</a>
        </ng-template> -->
      </div>
      <div nz-col [nzSpan]="6">
        <div class='box2'>
          <div class='box-detail'>
            <div>
              <p>
                <a>消息一</a>
              </p>
              <p>
                <a>消息二</a>
              </p>
            </div>
            <img src="assets/img/box2.png" alt="">
          </div>
          <div class='moreContainer'>
            <a (click)='showModalMiddle()'>更多</a>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="6">
        <div class='box3'>
          <div class='box-detail'>
            <div>
              <p>
                <a>操作一</a>
              </p>
              <p>
                <a>操作二</a>
              </p>
            </div>
            <img src="assets/img/box3.png" alt="">
          </div>
          <div class='moreContainer'>
            <a (click)='showModalMiddle()'>更多</a>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="6">
        <div class='box4'>
          <div class='box-detail'>
            <div>
              <p>
                <a>任务一</a>
              </p>
              <p>
                <a>任务二</a>
              </p>
            </div>
            <img src="assets/img/box4.png" alt="">
          </div>
          <div class='moreContainer'>
            <a (click)='showModalMiddle()'>更多</a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="diqiu-div">
      <img class="diqiu-img" src="../../../assets/img/diqiu.png" />
    </div> -->
  </div>
  <div class='content-container'>
    <!-- <div class='content-container-dragula' dragula="VAMPIRES"> -->
    <div class='column content-container-dragula'>
      <div class='moreContain portlet dragula-container'>
        <div class='portlet-header title'>
          <strong>数据统计</strong>
          <!-- <div class='moreContain-a'>
            <div [ngClass]="{'foledata':foledata}" style="margin-right: 20px;">
              <a (click)='changeNotView()' [ngClass]="{'buttonActived' : dataNotView}">折线图</a>
              <a (click)='changeView()' [ngClass]="{'buttonActived' : dataView}">环图</a>
            </div>
            <i [ngClass]="{'anticon' : true,'anticon-minus':!foledata,'anticon-plus':foledata}" (click)="fold('foledata')"></i>
          </div> -->
          <i [ngClass]="{'anticon' : true,'anticon-minus':!foledata,'anticon-plus':foledata}" (click)="fold('foledata')"></i>
        </div>
        <div class='portlet-content' [ngClass]="{'foledata' : foledata}" id="c1">
        </div>
      </div>
      <div class='portlet dragula-container'>
        <div class='portlet-header title'>
          <strong>地图:</strong>
          <i [ngClass]="{'anticon' : true,'anticon-minus':!foldmap,'anticon-plus':foldmap}" (click)="fold('foldmap')"></i>
        </div>
        <div class='portlet-content' [ngClass]="{'foldmap' : foldmap}" id="c4">
        </div>
      </div>
      <div class='portlet dragula-container'>
        <div class='portlet-header title'>
          <strong>数据统计2:</strong>
          <i [ngClass]="{'anticon' : true,'anticon-minus':!foledata2,'anticon-plus':foledata2}" (click)="fold('foledata2')"></i>
        </div>
        <div class='portlet-content' [ngClass]="{'foledata2' : foledata2}" id="c3">
        </div>
      </div>
    </div>
    <!-- <div class='content-container-dragula' dragula="VAMPIRES"> -->
    <div class='column content-container-dragula'>
      <div class='portlet dragula-container'>
        <div class='portlet-header title'>
          <strong>日历:</strong>
          <i [ngClass]="{'anticon' : true,'anticon-minus':!foldcalendar,'anticon-plus':foldcalendar}" (click)="fold('foldcalendar')"></i>
        </div>
        <nz-calendar class='portlet-content' [ngClass]="{'foldcalendar' : foldcalendar}" nzCard (nzValueChange)="onValueChange($event)"
          (nzModeChange)="onModeChange($event)"></nz-calendar>
      </div>
      <div class='portlet dragula-container'>
        <div class='portlet-header title'>
          <strong>日志统计:</strong>
          <i [ngClass]="{'anticon' : true,'anticon-minus':!folelog,'anticon-plus':folelog}" (click)="fold('folelog')"></i>
        </div>
        <div class='portlet-content' [ngClass]="{'folelog' : folelog}" id="c2">
        </div>
      </div>
      <div class='portlet dragula-container'>
        <div class='portlet-header title'>
          <strong>天气预报:</strong>
          <i [ngClass]="{'anticon' : true,'anticon-minus':!foleweather,'anticon-plus':foleweather}" (click)="fold('foleweather')"></i>
        </div>
        <div class='portlet-content' [ngClass]="{'foleweather' : foleweather}">
          <div class="weather">
            <p>{{ date }}{{ weatherBasic.location }}</p>
            <div class="realtimeWeather">
              <img src="../../../assets/img/104.png" alt="">
              <h2>{{ weatherNow.tmp }}℃</h2>
              <p>{{ weatherNow.cond_txt }}</p>
              <p>{{ weatherNow.wind_dir }}{{ weatherNow.wind_sc }}-{{ weatherNow.wind_spd }}级</p>
              <p>实质空气湿度：{{ weatherNow.hum }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="更多" (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()">
  <nz-card>
    <p>更多信息</p>
    <p>更多信息</p>
    <p>更多信息</p>
    <p>更多信息</p>
    <p>更多信息</p>
  </nz-card>
</nz-modal>
