.home-wrap {
    display: flex;
    .content-left {
        flex: 1
    }
    .content-right {
        width: 300px;
        .ant-card {
            .ant-card-body {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

.hide {
    display: none
}
