/* You can add global styles to this file, and also import other style files */
@import "theme.less";

.breadcrumbstyle{
    margin:16px 0;
    border-bottom:1px solid @primary-color;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
        outline-color:@primary-color;
 }
 .logo{
     background-color:@primary-color
 }
.ant-table-thead > tr > th{
    background: rgba(206,206,206,0.27);
    color: #fff;
}
nz-table td{
    button {
        margin-left: 5px;
    }
    background: rgba(205,205,205,0.10);
    color: #fff;
}
.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td{
    background: rgba(205,205,205,0.10);
}
nz-breadcrumb{
    nz-breadcrumb-item{
        a{
            color: #fff;
        }
        span{
            color: #fff;
            a{
                color: #fff;
            }
        }
        color: #fff;
    }
    .ant-breadcrumb-separator{
         color:#fff
    }
}
.ant-fullcalendar-value,.ant-fullcalendar,.ant-breadcrumb a,.ant-card,.ant-card-head-title,.top-nav[_ngcontent-c1] .item[_ngcontent-c1] i[_ngcontent-c1]{
    color:#000;
}
.ant-fullcalendar-last-month-cell .ant-fullcalendar-value, .ant-fullcalendar-next-month-btn-day .ant-fullcalendar-value{
    color: #80808094;
}
.ant-form-item-label label{
     color: #000;
}
.label-black{
    color: #fff;
    width: 50px;
}
.ant-card,.ant-card-type-inner .ant-card-head{
    background: rgba(205,205,205,0.10);
}
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.column {
padding-bottom: 100px;
}
.portlet {
margin: 0 1em 1em 0;
padding: 0.3em;
}
.portlet-header {
padding: 0.2em 0.3em;
margin-bottom: 0.5em;
cursor: move;
}
.portlet-toggle {
position: absolute;
top: 50%;
right:10px;
margin-top: -8px;
}
.portlet-content {
padding: 0.4em;
}
.portlet-placeholder {
border: 1px dotted black;
margin: 0 1em 1em 0;
height: 50px;
}