<nz-breadcrumb class='breadcrumbstyle'>
  <nz-breadcrumb-item>
    <span>当前位置：</span>
    <a [routerLink]="['/application']">应用孵化器</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>应用系统管理</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="add-search-group">
  <button nz-button (click)="addRow()" class="editable-add-btn">
    <i class="anticon anticon-plus ng-star-inserted" style="display: inline-block;"></i>新增</button>
  <div class="search-group">
    <nz-input-group nzCompact [nzSuffix]="suffixButton">
      <nz-select [ngModel]="'应用系统名字'" #searchSelect style="width:32%;">
        <nz-option [nzLabel]="'应用系统名字'" [nzValue]="'应用系统名字'"></nz-option>
        <nz-option [nzLabel]="'流程模板'" [nzValue]="'流程模板'"></nz-option>
        <nz-option [nzLabel]="'应用系统标识'" [nzValue]="'应用系统标识'"></nz-option>
      </nz-select>
      <!-- <input type="text" nz-input [ngModel]="'Xihu District, Hangzhou'" style="width:50%;"> -->
      <input type="text" style="padding: 0" #searchData nz-input style="width:50%;" placeholder="输入搜索内容">
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" (click)="forSearch(searchData.value,searchSelect.value)" nzSize="default"
        nzSearch>搜索</button>
    </ng-template>
  </div>
</div>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="新增" (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle(validateForm.value)">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="no">应用系统名称</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="name" name="name" placeholder="请输入" id="no2">
        <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">请输入应用系统名称!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzRequired nzFor="no">应用标识</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="useFlag" name="useFlag" placeholder="请输入" id="no3">
        <nz-form-explain *ngIf="validateForm.get('useFlag').dirty && validateForm.get('useFlag').errors">请输入应用标识!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzRequired nzFor="no">应用系统描述</nz-form-label>
      <nz-form-control>
        <textarea row="4" formControlName="des" nz-input name="des" placeholder="请输入" id="no4"></textarea>
        <nz-form-explain *ngIf="validateForm.get('des').dirty && validateForm.get('des').errors">请输入应用系统描述!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzRequired nzFor="no">基础地址</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="baseUrl" name="baseUrl" placeholder="请输入" id="no5">
        <nz-form-explain *ngIf="validateForm.get('baseUrl').dirty && validateForm.get('baseUrl').errors">请输入基础地址!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzRequired nzFor="no">流程模板</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 100%;" formControlName="modelId" name="modelId" nzPlaceHolder="流程模板">
          <nz-option *ngFor="let option of dataList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.get('modelId').dirty && validateForm.get('modelId').errors">请选择流程模板!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleEditMiddle" nzTitle="编辑" (nzOnCancel)="handleCancelEditMiddle()"
  (nzOnOk)="handleOkEditkMiddle(validateForm.value)">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="editForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="no">应用系统名称</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="name" [(ngModel)]="name" name="name" placeholder="请输入" id="no2">
        <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">请输入应用系统名称!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzRequired nzFor="no">应用标识</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="useFlag" [(ngModel)]="useFlag" name="useFlag" placeholder="请输入" id="no3">
        <nz-form-explain *ngIf="validateForm.get('useFlag').dirty && validateForm.get('useFlag').errors">请输入应用标识!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzRequired nzFor="no">应用系统描述</nz-form-label>
      <nz-form-control>
        <textarea row="4" formControlName="des" nz-input [(ngModel)]="des" name="des" placeholder="请输入" id="no4"></textarea>
        <nz-form-explain *ngIf="validateForm.get('des').dirty && validateForm.get('des').errors">请输入应用系统描述!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzRequired nzFor="no">基础地址</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="baseUrl" [(ngModel)]="baseUrl" name="baseUrl" placeholder="请输入" id="no5">
        <nz-form-explain *ngIf="validateForm.get('baseUrl').dirty && validateForm.get('baseUrl').errors">请输入基础地址!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzRequired nzFor="no">流程模板</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 100%;" formControlName="modelId" [(ngModel)]="modelId" name="modelId" nzPlaceHolder="流程模板">
          <nz-option *ngFor="let option of dataList" [nzLabel]="option.name" [nzValue]="option.id">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.get('modelId').dirty && validateForm.get('modelId').errors">请选择流程模板!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-table #editRowTable nzBordered [nzPageSize]="5" (nzPageIndexChange)="refreshStatus()" (nzPageSizeChange)="refreshStatus()"
  [nzLoading]="loading" [nzData]="dataSet" style="background-color:white;">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowCheckbox nzShowRowSelection [nzSelections]="listOfSelection" [(nzChecked)]="allChecked"
        [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <th nzShowSort nzSortKey="num">序号</th>
      <th nzShowSort nzSortKey="name">应用系统名字</th>
      <th nzShowSort nzSortKey="modelId">流程模板</th>
      <th nzShowSort nzSortKey="userFlag">应用标识</th>
      <th nzShowSort nzSortKey="des">应用系统描述</th>
      <th nzShowSort>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data;let i = index">
      <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event)"></td>
      <td>
        <div class="editable-cell">
          <div class="editable-cell-text-wrapper">
            {{(i+1)}}
          </div>
        </div>
      </td>
      <td>
        {{data.name}}
      </td>
      <td>
        {{data.modelName}}
      </td>
      <td>
        {{data.useFlag}}
      </td>
      <td>
        {{data.des}}
      </td>
      <td>
        <div class="editable-row-operations" style="display: inline-block;">
          <button [nzSize]="size" nz-button (click)="startEdit(data)" nzType="default">编辑</button>
          <ng-container>
            <ng-container>
              <button [nzSize]="size" nz-button (click)="gorouterWithParam(data.modelId,data.id)" routerLinkActive="active"
                nzType="default">配置</button>
            </ng-container>
            <button [nzSize]="size" nz-button nzType="default">启用</button>
          </ng-container>
          <ng-container>
            <button [nzSize]="size" nz-button nzType="default">停用</button>
          </ng-container>
          <ng-container>
            <button [nzSize]="size" nz-button nzType="default">另存</button>
          </ng-container>

        </div>
        <nz-popconfirm [nzTitle]="'确认删除?'" (nzOnConfirm)="deleteRow(data.id)">
          <button [nzSize]="size" nz-button nz-popconfirm nzType="danger">删除</button>
        </nz-popconfirm>
      </td>
    </tr>
  </tbody>
</nz-table>
