<nz-breadcrumb class='breadcrumbstyle'>
  <nz-breadcrumb-item>
    <span>当前位置：</span>
    <a (click)="gorouter('home/application')">应用孵化器</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item> 应用系统编配</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-card *ngIf="edit" nzType="inner" nzTitle="查看选项">
  <div nz-col nzSpan="12" class="find-select">
    <label for="">应用名称</label>
    <input class='formdata' nz-input placeholder="应用名称" [(ngModel)]="formdata_name" disabled>
  </div>
  <div nz-col nzSpan="12" class="find-select">
    <label for="">应用标识</label>
    <input class="formdata" nz-input placeholder="应用标识" [(ngModel)]="formdata_useFlag" disabled>
  </div>
  <div nz-col nzSpan="12" class="find-select">
    <label for="">基础地址</label>
    <input class='formdata' nz-input placeholder="基础地址" [(ngModel)]="formdata_baseUrl" disabled>
  </div>
  <div nz-col nzSpan="12" class="find-select">
    <label for="">流程模板</label>
    <input class='formdata' nz-input [(ngModel)]="formdata_modelId" nzPlaceHolder="流程模板" disabled>
  </div>
  <div nz-col nzSpan="24" class="find-select">
    <label for="">描述</label>
    <textarea class='formdata' row="4" nz-input [(ngModel)]="formdata_des" disabled></textarea>
  </div>
</nz-card>
<iframe id="iframe1" [src]='iframe' width="100%" height="900px"></iframe>
