<nz-breadcrumb class='breadcrumbstyle'>
  <nz-breadcrumb-item>
    <span>当前位置：</span>
    <a [routerLink]="['/application']">应用孵化器</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>应用系统管理</nz-breadcrumb-item>
</nz-breadcrumb>
<!-- <div class="add-search-group">
  <div class="search-group">
    <nz-input-group nzSearch nzSize="default" [nzSuffix]="suffixButton">
      <input type="text" style="padding: 0" nz-input placeholder="输入搜索内容">
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="default" nzSearch>搜索</button>
    </ng-template>
  </div>
</div> -->

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="新增" (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()">
  <nz-form-item>
    <!-- <nz-form-label nzFor="no">序号</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="num" name="num" placeholder="请输入" id="no1">
    </nz-form-control> -->
    <nz-form-label nzFor="no">应用系统名称</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="name" name="name" placeholder="请输入" id="no2">
    </nz-form-control>
    <nz-form-label nzFor="no">应用标识</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="name" name="name" placeholder="请输入" id="no2">
    </nz-form-control>
    <nz-form-label nzFor="no">应用系统描述</nz-form-label>
    <nz-form-control>
      <textarea row="4" nz-input [(ngModel)]="describe" name="describe" placeholder="请输入" id="no3"></textarea>
    </nz-form-control>
    <nz-form-label nzFor="no">基础地址</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="name" name="name" placeholder="请输入" id="no2">
    </nz-form-control>
    <nz-form-label nzFor="no">流程模板</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 100%;" [(ngModel)]="template" name="template" nzAllowClear nzPlaceHolder="流程模板">
        <nz-option nzValue="model1" nzLabel="模板一"></nz-option>
        <nz-option nzValue="model2" nzLabel="模板二"></nz-option>
        <nz-option nzValue="model3" nzLabel="模版三"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</nz-modal>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleEditMiddle" nzTitle="编辑" (nzOnCancel)="handleCancelEditMiddle()"
  (nzOnOk)="handleOkEditkMiddle()">
  <nz-form-item>
    <nz-form-label nzFor="no">序号</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="num" name="num" placeholder="请输入" id="no1">
    </nz-form-control>
    <nz-form-label nzFor="no">应用系统名称</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="name" name="name" placeholder="请输入" id="no2">
    </nz-form-control>
    <nz-form-label nzFor="no">流程模板</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="template" name="template" placeholder="请输入" id="no3">
    </nz-form-control>
    <nz-form-label nzFor="no">应用系统描述</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="describe" name="describe" placeholder="请输入" id="no3">
    </nz-form-control>
  </nz-form-item>
</nz-modal>

<nz-table #editRowTable nzBordered [nzPageSize]="5" (nzPageIndexChange)="refreshStatus()" (nzPageSizeChange)="refreshStatus()"
  [nzLoading]="loading" [nzData]="dataSet" style="background-color:white;">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowCheckbox nzShowRowSelection [nzSelections]="listOfSelection" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)"></th>
      <th nzShowSort nzSortKey="num">序号</th>
      <th nzShowSort nzSortKey="name">应用系统名字</th>
      <th nzShowSort nzSortKey="template">流程模板</th>
      <th nzShowSort nzSortKey="describe">应用系统描述</th>
      <th nzShowSort>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event)"></td>
      <td>
        <div class="editable-cell">
          <div class="editable-cell-text-wrapper">
            <ng-container *ngIf="!editCache[data.key].edit">
              {{data.num}}
            </ng-container>
            <ng-container *ngIf="editCache[data.key].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.key].data.num">
            </ng-container>
          </div>
        </div>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.name}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.key].data.name">
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.template}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.key].data.template">
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.describe}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.key].data.describe">
        </ng-container>
      </td>
      <td>
        <div class="editable-row-operations" style="display: inline-block;">
          <ng-container *ngIf="!editCache[data.key].edit">
            <button [nzSize]="size" nz-button (click)="startEdit(data.key)" nzType="primary">编辑</button>
          </ng-container>
          <ng-container>
            <button [nzSize]="size" nz-button nzType="default">查看</button>
          </ng-container>
            <!-- <ng-container>
            <button [nzSize]="size" nz-button nzType="default">启用</button>
          </ng-container>
          <ng-container>
            <button [nzSize]="size" nz-button nzType="default">停用</button>
          </ng-container>
          <ng-container>
            <button [nzSize]="size" nz-button nzType="default">另存</button>
          </ng-container> -->
        </div>
        <nz-popconfirm [nzTitle]="'确认删除?'" (nzOnConfirm)="deleteRow(data.key)">
          <button [nzSize]="size" nz-button nz-popconfirm nzType="danger">删除</button>
        </nz-popconfirm>
      </td>
    </tr>
  </tbody>
</nz-table>
