<nz-breadcrumb class='breadcrumbstyle'>
  <nz-breadcrumb-item>
    <span>当前位置：</span>
    <!-- <a [routerLink]="['/application']">应用孵化器</a> -->
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>用户管理</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="add-search-group">
  <button nz-button (click)="addRow()" class="editable-add-btn">
    <i class="anticon anticon-plus ng-star-inserted" style="display: inline-block;"></i>新增</button>
  <!-- <div class="search-group">
        <nz-input-group nzSearch nzSize="default" [nzSuffix]="suffixButton">
            <input type="text" style="padding: 0" nz-input placeholder="input search text">
        </nz-input-group>
        <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="default" nzSearch>搜索</button>
        </ng-template>
    </div> -->

</div>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="用户新增" (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()">
  <nz-form-item>
    <nz-form-label nzFor="no">用户名称</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="userName" name="name" placeholder="请输入" id="no2">
    </nz-form-control>
    <nz-form-label nzFor="no">用户角色</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 100%;" [(ngModel)]="listOfRole" nzPlaceHolder="请选择用户角色">
        <nz-option *ngFor="let option of listOfRoleList" [nzLabel]="option" [nzValue]="option">
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label nzFor="no">用户分组</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 100%;" [(ngModel)]="listOfTagOptions" nzPlaceHolder="请选择用户分组">
        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option">
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label nzFor="no">用户状态</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 100%;" [(ngModel)]="listOfType" nzPlaceHolder="请选择用户状态">
        <nz-option *ngFor="let option of listOfTypelist" [nzLabel]="option" [nzValue]="option">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</nz-modal>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isupdate" nzTitle="用户编辑" (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()">
  <nz-form-item>
    <nz-form-label nzFor="no">序号</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="num" name="num" placeholder="请输入" id="no1">
    </nz-form-control>
    <nz-form-label nzFor="no">用户名称</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="name" name="name" placeholder="请输入" id="no2">
    </nz-form-control>
    <nz-form-label nzFor="no">用户角色</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 100%;" [(ngModel)]="listOfRole" nzPlaceHolder="请选择用户角色">
        <nz-option *ngFor="let option of listOfRoleList" [nzLabel]="option" [nzValue]="option">
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label nzFor="no">用户分组</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 100%;" [(ngModel)]="listOfTagOptions" nzPlaceHolder="请选择用户分组">
        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option">
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label nzFor="no">用户状态</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 100%;" [(ngModel)]="listOfType" nzPlaceHolder="请选择用户状态">
        <nz-option *ngFor="let option of listOfTypelist" [nzLabel]="option" [nzValue]="option">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</nz-modal>

<nz-modal nzWidth="600px" nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMsgMiddle" nzTitle="查看" (nzOnCancel)="handleCancelMsgMiddle()"
  (nzOnOk)="handleOkMsgMiddle()">
  <div class="showMsg">
    <div class="showMsgTop">
      <nz-form-label nzFor="no">角色列表</nz-form-label>
      <nz-checkbox-group [(ngModel)]="rightsGroup" (ngModelChange)="log(rightsGroup)"></nz-checkbox-group>
    </div>
    <nz-form-item>
      <div>
        <nz-form-label nzFor="no">用户信息</nz-form-label>
      </div>
      
      <nz-form-control>
<nz-form-label nzFor="no">用户名称</nz-form-label>
        <input nz-input value='{{currentName}}' name="name" id="no2">
      </nz-form-control>
      
      <nz-form-control>
<nz-form-label nzFor="no">分组</nz-form-label>
        <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="选择分组" [(ngModel)]="currentGroup">
          <nz-option nzLabel="分组一" nzValue="group1"></nz-option>
          <nz-option nzLabel="分组二" nzValue="group2"></nz-option>
          <nz-option nzLabel="分组三" nzValue="group3"></nz-option>
        </nz-select>
      </nz-form-control>
      
      <nz-form-control>
<nz-form-label nzFor="no">状态</nz-form-label>
        <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="选择状态" [(ngModel)]="currentState">
          <nz-option nzLabel="启用" nzValue="start"></nz-option>
          <nz-option nzLabel="停用" nzValue="stop"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

  </div>
</nz-modal>

<nz-table #editRowTable nzBordered [nzPageSize]="5" (nzPageIndexChange)="refreshStatus()" (nzPageSizeChange)="refreshStatus()"
  [nzLoading]="loading" [nzData]="dataSet" style="background-color:white;">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <!-- <th nzShowCheckbox nzShowRowSelection [nzSelections]="listOfSelection" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th> -->
      <th nzShowSort nzSortKey="num">序号</th>
      <th nzShowSort nzSortKey="name">用户名称</th>
      <th nzShowSort nzSortKey="role">用户角色</th>
      <th nzShowSort nzSortKey="group">用户分组</th>
      <th nzShowSort nzSortKey="state">状态</th>
      <th nzShowSort>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <!-- <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event)"></td> -->
      <td>
        <div class="editable-cell">
          <div class="editable-cell-text-wrapper">
            <ng-container *ngIf="!editCache[data.key].edit">
              {{data.num}}
            </ng-container>
            <ng-container *ngIf="editCache[data.key].edit">
              <input type="text" nz-input [(ngModel)]="editCache[data.key].data.num">
            </ng-container>
          </div>
        </div>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.userName}}
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.role}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.key].data.role">
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.group}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.key].data.group">
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.state}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.key].data.state">
        </ng-container>
      </td>
      <td>
        <div class="editable-row-operations" style="display: inline-block;">
          <ng-container>
            <button [nzSize]="size" (click)="showModalMsgMiddle(data)" nz-button nzType="default">查看</button>
          </ng-container>
          <ng-container *ngIf="!editCache[data.key].edit">
            <button nz-button [nzSize]="size" (click)="startEdit(data.key)" nzType="primary">编辑</button>
          </ng-container>

        </div>
        <nz-popconfirm [nzTitle]="'确认删除?'" (nzOnConfirm)="deleteRow(data.key)">
          <button [nzSize]="size" nz-button nz-popconfirm nzType="danger">删除</button>
        </nz-popconfirm>
      </td>
    </tr>
  </tbody>
</nz-table>
