.editable-row-operations a {
    margin-right: 8px;
}

.ant-table table {
    background-color: white;
}

.add-search-group {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    .search-group {
        width: 20%;
    }
}
