<nz-breadcrumb class='breadcrumbstyle'>
  <nz-breadcrumb-item>
    <span>当前位置：</span>
    <a (click)="gorouter('home/processManagement')">业务流程管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>流程模板管理</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="add-search-group">
  <button nz-button (click)="addRow()" class="editable-add-btn">
    <i class="anticon anticon-plus ng-star-inserted" style="display: inline-block;"></i>新增</button>
</div>
<!-- <div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas" [ngStyle]="{'display':jsplmdIs? 'block' : 'none' }">
  <div class="window jtk-node" id="flowchartWindow1">
    <strong>开始</strong>
    <br/>
    <br/>
  </div>
  <div class="window jtk-node" id="flowchartWindow2">
    <strong>提交申请</strong>
    <br/>
    <br/>
  </div>
  <div class="window jtk-node" id="flowchartWindow3">
    <strong>审批</strong>
    <br/>
    <br/>
  </div>
  <div class="window jtk-node" id="flowchartWindow4">
    <strong>结束</strong>
    <br/>
    <br/>
  </div>
</div> -->
<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="新增" (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle(validateForm.value)">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label nzFor="no">流程模板名称</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName='name' name="name" placeholder="请输入" id="no2">
        <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">请输入流程模板名称!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzFor="no">关键字</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName='key' name="key" placeholder="请输入" id="no2">
        <nz-form-explain *ngIf="validateForm.get('key').dirty && validateForm.get('key').errors">请输入关键字!</nz-form-explain>
      </nz-form-control>
      <!-- <nz-form-label nzFor="no">部署状态</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 100%;" formControlName="state" name="state" [(ngModel)]="listOfType" nzPlaceHolder="请选择部署状态">
          <nz-option *ngFor="let option of listOfTypelist" [nzLabel]="option" [nzValue]="option">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.hasError('positiveNumber','state')">Please input 0 or 1!</nz-form-explain>
        <nz-form-explain *ngIf="validateForm.get('state').dirty && validateForm.get('state').errors">请选择部署状态!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzFor="no">创建人</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName='cruser' name="cruser" placeholder="请输入" id="no4">
        <nz-form-explain *ngIf="validateForm.get('cruser').dirty && validateForm.get('cruser').errors">请输入创建人!</nz-form-explain>
      </nz-form-control> -->
      <nz-form-label nzFor="no">流程模板描述</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName='description' name="description" placeholder="请输入" id="no5">
        <nz-form-explain *ngIf="validateForm.get('description').dirty && validateForm.get('description').errors">请输入流程模板描述!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleEditMiddle" nzTitle="编辑" (nzOnCancel)="handleCancelEditMiddle()"
  (nzOnOk)="handleOkEditMiddle(validateForm.value)">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="editForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label nzFor="no">流程模板名称</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName='name' [(ngModel)]='name' name="name" placeholder="请输入" id="no2">
        <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">请输入流程模板名称!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzFor="no">关键字</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName='key' [(ngModel)]='key' name="key" placeholder="请输入" id="no2">
        <nz-form-explain *ngIf="validateForm.get('key').dirty && validateForm.get('key').errors">请输入关键字!</nz-form-explain>
      </nz-form-control>
      <!-- <nz-form-label nzFor="no">部署状态</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 100%;" formControlName="state" name="state" [(ngModel)]="listOfType" nzPlaceHolder="请选择部署状态">
          <nz-option *ngFor="let option of listOfTypelist" [nzLabel]="option" [nzValue]="option">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.hasError('positiveNumber','state')">Please input 0 or 1!</nz-form-explain>
        <nz-form-explain *ngIf="validateForm.get('state').dirty && validateForm.get('state').errors">请选择部署状态!</nz-form-explain>
      </nz-form-control>
      <nz-form-label nzFor="no">创建人</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName='cruser' [(ngModel)]="cruser" name="cruser" placeholder="请输入" id="no4">
        <nz-form-explain *ngIf="validateForm.get('cruser').dirty && validateForm.get('cruser').errors">请输入创建人!</nz-form-explain>
      </nz-form-control> -->
      <nz-form-label nzFor="no">流程模板描述</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName='description' [(ngModel)]="description" name="description" placeholder="请输入" id="no5">
        <nz-form-explain *ngIf="validateForm.get('description').dirty && validateForm.get('description').errors">请输入流程模板描述!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal nzWidth='900' nzWrapClassName="vertical-center-modal1" [(nzVisible)]="isVisibleViewMiddle" nzTitle="流程图预览"
  (nzOnCancel)="handleCancelViewMiddle()" (nzOnOk)="handleOkViewMiddle()">
  <img style='max-width: 800px;' [src]="imgSrc" alt="流程预览图">
</nz-modal>
<nz-table #editRowTables nzBordered [nzPageSize]="5" (nzPageIndexChange)="refreshStatus($event)" (nzPageSizeChange)="refreshStatus($event)"
  [nzLoading]="loading" [nzData]="dataSet" style="background-color:white;">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowCheckbox nzShowRowSelection [nzSelections]="listOfSelection" [(nzChecked)]="allChecked"
        [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <th nzShowSort nzSortKey="num">序号</th>
      <th nzShowSort nzSortKey="name">流程模板名称</th>
      <th nzShowSort nzSortKey="key">关键字</th>
      <!-- <th nzShowSort nzSortKey="state">部署状态</th>
      <th nzShowSort nzSortKey="cruser">创建人</th> -->
      <th nzShowSort nzSortKey="description">流程模板描述</th>
      <th nzShowSort>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTables.data;let i = index">
      <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event)"></td>
      <td>
        <div class="editable-cell">
          <div class="editable-cell-text-wrapper">
            {{(i+1)}}
          </div>
        </div>
      </td>
      <td>
        {{data.name}}
      </td>
      <td>
        {{data.key}}
      </td>
      <!-- <td>
        {{data.cruser}}
      </td> -->
      <td>
        {{data.description}}
      </td>
      <td>
        <div class="editable-row-operations" style="display: inline-block;">
          <ng-container>
            <button [nzSize]="size" nz-button (click)="abdeRow(data.id)" nzType="default">预览</button>
          </ng-container>
          <ng-container>
            <button [nzSize]="size" (click)="startEdit(data)" nz-button nzType="default">编辑</button>
          </ng-container>
          <ng-container>
            <button [nzSize]="size" nz-button nzType="default">启用</button>
          </ng-container>
          <ng-container>
            <button [nzSize]="size" nz-button nzType="default">停用</button>
          </ng-container>
          <ng-container>
            <button [nzSize]="size" nz-button nzType="default">另存</button>
          </ng-container>
        </div>
        <nz-popconfirm [nzTitle]="'确认删除?'" (nzOnConfirm)="deleteRow(data.id)">
          <button [nzSize]="size" nz-button nz-popconfirm nzType="danger">删除</button>
        </nz-popconfirm>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal nzWrapClassName="vertical-center-modal1" [(nzVisible)]="isVisibleMiddle1" nzTitle="流程配置" (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle1()">
  <nz-form-item>
    <nz-timeline>
      <nz-timeline-item>开始</nz-timeline-item>
      <nz-timeline-item>流程一</nz-timeline-item>
      <nz-timeline-item>流程二</nz-timeline-item>
      <nz-timeline-item>流程三</nz-timeline-item>
      <nz-timeline-item>流程四</nz-timeline-item>
      <nz-timeline-item>流程五</nz-timeline-item>
      <nz-timeline-item>流程六</nz-timeline-item>
      <nz-timeline-item>结束</nz-timeline-item>
    </nz-timeline>
    <div style="clear: both"></div>
  </nz-form-item>
</nz-modal>
