<nz-breadcrumb class='breadcrumbstyle'>
  <nz-breadcrumb-item>
    <span>当前位置：</span>
    <!-- <a [routerLink]="['/application']">应用孵化器</a> -->
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>机构管理</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="add-search-group">
  <button nz-button (click)="addRow()" class="editable-add-btn">
    <i class="anticon anticon-plus ng-star-inserted" style="display: inline-block;"></i>新增</button>
</div>
<nz-table #middleTable nzBordered [nzPageSize]="5" (nzPageIndexChange)="refreshStatus()" (nzPageSizeChange)="refreshStatus()"
  [nzLoading]="loading" [nzData]="dataSet" style="background-color:white;">
  <thead>
    <tr>
      <th>序号</th>
      <th>机构名称</th>
      <th>机构编码</th>
      <th>电话</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of middleTable.data">
      <td>{{data.key}}</td>
      <td>{{data.name}}</td>
      <td>{{data.num}}</td>
      <td>{{data.tel}}</td>
      <td>
        <div class="editable-row-operations" style="display: inline-block;">
          <ng-container>
            <button [nzSize]="size" (click)="showModalMiddle(data)" nz-button nzType="default">查看</button>
          </ng-container>
          <ng-container *ngIf="!editCache[data.key].edit">
            <button [nzSize]="size" nz-button (click)="startEdit(data.key)" nzType="primary">编辑</button>
          </ng-container>
        </div>
        <nz-popconfirm [nzTitle]="'确认删除?'" (nzOnConfirm)="deleteRow(data.key)">
          <button [nzSize]="size" nz-button nz-popconfirm nzType="danger">删除</button>
        </nz-popconfirm>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="新增" (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()">
  <nz-form-item>
    <!-- <nz-form-label nzFor="no">序号</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="num" name="num" placeholder="请输入" id="no1">
    </nz-form-control> -->
    <nz-form-label nzFor="no">机构名称</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="name" name="name" placeholder="请输入" id="no2">
    </nz-form-control>
    <nz-form-label nzFor="no">机构编码</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="num" name="num" placeholder="请输入" id="no3">
    </nz-form-control>
    <nz-form-label nzFor="no">电话</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="tel" name="tel" placeholder="请输入" id="no4">
    </nz-form-control>
  </nz-form-item>
</nz-modal>