<div class='stepsContainer'>
  <nz-steps [nzCurrent]="1" nzProgressDot>
    <nz-step nzTitle="步骤1" nzDescription="This is a description."></nz-step>
    <nz-step nzTitle="步骤2" nzDescription="This is a description."></nz-step>
    <nz-step nzTitle="步骤3" nzDescription="This is a description."></nz-step>
    <nz-step nzTitle="步骤4" nzStatus='error' nzDescription="This is a description."></nz-step>
    <nz-step nzTitle="步骤5" nzStatus='wait' nzDescription="This is a description."></nz-step>
    <nz-step nzTitle="步骤6" nzDescription="This is a description."></nz-step>
    <nz-step nzTitle="步骤7" nzDescription="This is a description."></nz-step>
    <nz-step nzTitle="步骤8" nzDescription="This is a description."></nz-step>
  </nz-steps>
</div>